<div class="template-404">
  <div class="page-width page-content center">
    <h1>{{ 'general.404.title' | t }}</h1>
    <p>{{ 'general.404.subtext' | t }}</p>
    <a href="{{ routes.root_url }}" class="button">
      Continue shopping
    </a>
  </div>
</div>